.overlay-cont {
    position: relative;
    width: fit-content;
    border-radius: theme("borderRadius.xl");
    overflow: hidden;

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: .5s ease;
        background-color: rgba(0, 0, 0, 0);
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        color: theme("colors.gray.300");
    }
}