.search-input {
    position: relative;
    max-width: 600px;

    &:hover,
    &:focus-within {
        img {
            filter: invert(44%) sepia(24%) saturate(3227%) hue-rotate(196deg) brightness(100%) contrast(94%);
        }
    }

    input {
        width: 100%;
        background: white;
        padding-right: 37px;
        border-radius: 0.75rem;
    }

    button {
        position: absolute;
        top: 0;
        right: 3px;
        border-radius: 0.69rem;
        z-index: 2;
        border: none;
        top: 1px;
        height: calc(100% - 2px);
        cursor: pointer;
        transform: translateX(2px);
    }
}