.reserv-card {
    display: grid;
    grid-template-columns: 220px auto;
    gap: 1.5rem;

    img {
        min-width: 50%;
        height: 100%;
        object-fit: cover;
        border-color: theme("colors.gray.300");
        border-radius: theme("borderRadius.2xl");
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;
        height: min-content;
    }
}