.user-saved-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .cards-cont {
        display: grid;
        margin-top: 1rem;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
}